/* UTILITIES */
.aux-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.aux-title {
    margin-bottom: 2rem;
}

.aux-text {
    font-size: 20px;
}

/* ABOUT AND CONTACT */
.aux-link {
    font-size: 25px;
    margin: 1rem;
}

.fine-text {
    padding-left: 0.5rem;
}

.about-link {
    font-size: 20px;
    margin: 0;
}

.contact-items {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}